*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background: black;
    color: white;
    height: 100px;
    line-height: 100px;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}

.choice{
    border-radius: 40%;
}

.choice:hover{
    background: black;
    
}


img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-board{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
    font-size: 2rem;
}

.msg-container{
    margin-top: 2rem;
}

#msg{
    font-size: 2rem;
    background: black;
    color: white;
    display: inline;
    border-radius: 0.5rem;
    padding: 9px;
}
